<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Travel Bucketlist</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
</head>
<body>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/continents">Continents</a>
    <a href="/countries">Countries</a>
    <a href="/cities">Cities</a>
    <a href="/visits">Visits</a>
  </div>
  {% block content %} {% endblock %}
    
</body>
</html>